<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Freedom Wall</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Hello, World!</h1>

    <form method='POST' action="/">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Who are you?" />
        <br />
        <label for="message">Message:</label>
        <textarea type="text" name="message" placeholder="What's on your mind?"></textarea>
        <br />
        <input type="submit" />
    </form>

    <h1>Posts</h1>
    {% for post in posts %}
        <p><strong>{{ post['username'] }}:</strong> {{ post['message'] }}</p>
    {% endfor %}

</body>
</html>